// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$secondary: #ddd9d9;
$secondary-500:#36454f;

//Responsive sizes
$xl: 1500px;
$lg: 1200px;
$md: 992px;
$sm: 768px;

body {
    color: #525151;
    font-family: "brandon-grotesque", sans-serif;
    overflow-x: hidden;
}
h1 {
    font-size: 5em;
    text-transform: lowercase;
}
.corp-post h1 {
    font-size:2.5em;
}

#top-bar {
    height:50px;
    background:$secondary;
    width:100%;
    position:fixed;
    top:0;
    z-index: 2000;
    display:flex;
    justify-content:space-evenly;
    align-items: center; 
    margin-bottom: 50px;
    .contact-info {
        display:flex;
        padding-left: 1em;  
        padding-right: 1em;
        .contact-item {
            display:flex;  
            padding-left: 1em;
            padding-right: 1em;
            font-weight: 700;
            font-size: 1.05em;
            .fa {
                margin-right: 0.5em;
                font-size: 1.5em;
            }
        }
        @media(max-width:$md){
            display:flex;
            flex-direction: row;
            span {
                display:none;
            }
        }
    }
    .menu {
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 1em;
        text-transform: lowercase;
        font-weight: 700;
        font-size: 1.25em;
        flex-direction: row;
        @media(max-width:$lg){
            flex-direction: column;
        }
        .menu-button {
            display:flex;
            list-style-type: none;
            justify-content: space-evenly;
            align-items: center;
            .fa {
                margin-left: 0.5em;
                align-items: center;
                justify-content: center;
                z-index:3000;
                a {
                    &:hover {
                        text-shadow:$primary 2px 2px 2px;
                        }
                    }
            }
        }        
        #menu-overlay {
            display:flex;
            position:fixed;
            top:50px;bottom:0;left:0;right:0;
            background:$secondary;
            z-index:2000;
            justify-content: center;
            align-items: center;
            visibility:hidden;
            opacity:0;
            transition: ease 0.25s all;
            transform: scaleX(0);
            &.if-menu-active {
                overflow: hidden;
                visibility: visible;
                opacity:1;
                transform: scaleX(1);
            }
            @media(max-width:$md){
                flex-direction: column;
            }
            .menu-title {
            color:white;
            flex-direction: column;
            font-size: 2.5em;
            font-weight:900;
        }
         .menu-item {
            display:flex;
            font-weight: bolder;
            list-style-type: none;
            flex-direction: column;
            @media(max-width:$md){
                flex-direction: column;
                justify-self:auto;
                margin:0 auto;
                }
            }
            a {
                &:hover {
                    color:$white;
                    text-shadow:$primary 2px 2px 2px;
                    text-decoration: none;
                }
            }
        }
    }
}
#home-wrapper{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;
    padding-top: 50px;
    .home-banner {
        display:flex;
        flex:1;
        align-items:flex-start;
        flex-direction:column;
        @media(max-width:$md){
            padding-top: 50px;
        }
    }
    .home-post{
        display:flex;
        align-items: flex-start;
        margin:0 auto;
        width:100%;
        flex:1;   
        @media (max-width:$md){
            max-width:90%;
        }
        img {
            height: 100% !important;
        }
    }
    .home-sidebar{
        display:flex;  
        margin:0 auto;
        justify-content: center;
        padding-top: 50px;
        width:80%;
        flex:1; 
        .widget-title {
            text-align: center;
        }
    }
    @media(max-width:$md){
        flex-direction: column;
        margin: 0 auto;
        width:100%;
        flex:0;
    }
}
.footer-info {
    height:60px;
    background:$secondary;
    width:100%;
    z-index: 1000;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:space-evenly;
    align-items: center; 
    @media (max-width:$md){
        font-size: 12px;
        flex-direction: column;
    } 
}
#classes-wrapper{
    padding-top: 50px;
    display:flex;
    justify-content: space-around;
    @media (max-width:$md){
        flex-direction: column;
    } 
    .classes-info {
        display:flex;
        flex:1.5;
        order: 1;
        padding:2%;
        max-width: 90%;
        margin:auto;
        order: -1;
        @media (max-width:$md){
            order: 1;
        }
    }
    .classes-sidebar {
        display:flex;
        align-content: center;
        padding-top: 50px;
        align-content: flex-end;
        flex:1;
        order: 1;
        li {
            list-style-type: none;
            text-align: left;
            margin:auto;
            padding:5%;
        }
        .eaw-title {
            font-size: 16px;
        }
        @media (max-width:$md){
            order: -1;
            padding-top: 25px;
        }
    }
}
#shows-wrapper{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    padding-top: 75px;
    #eishows {
            display:flex;
            margin:0 auto;
            flex-direction: row;
            flex-wrap: wrap;
            .row{
                display: flex;
                align-content: space-evenly;
                justify-content: center;
                margin:0 auto;
                @media (max-width:$lg) {
                    flex-direction: row;     
                           }
                @media (max-width:$sm){
                    flex-direction: column;
                }
                .show-row {
                    display:flex;
                    justify-content: center;
                    align-content: center;
                    .show{
                        display:flex;
                        flex-direction: column;
                        width:325px;
                        @media (max-width:$lg) {
                            width:300px;     
                        }
                        @media (max-width:$md){
                            width:90%;
                        }
                        .show-img {
                            display:flex;
                            align-content: center;
                            height:300px;
                            width:300px;
                            margin:0 auto;
                            background-image: url(../img/ei3.jpg);
                            background-size:cover;
                            background-repeat: none;
                            background-size: 100%;
                            background-position: center;
                            transition: 0.25s all ease;
                            overflow:hidden;
                            @media (max-width:$lg) {
                                height:275px;
                                width:275px;  
                            }
                            @media (max-width:$md){
                                width:375px; 
                                height:375px; 
                                margin:0 auto;
                            }
                            @media (max-width:$sm){
                                width:200px; 
                                height:200px; 
                            }
                        }
                        .show-title {
                            font-weight:700;
                            font-size: 1.5em;
                            line-height: 1.5em;
                            text-transform: lowercase;
                            text-align: center;
                            width:300px;
                            margin:0 auto;
                        }
                        .show-text {
                            width:300px;
                            padding:5px;
                            margin:0 auto;                        
                        }
                        transition: 0.25s all ease;
                        &:hover {
                            .show-img {
                                background-size: 125%;
                            }
                        }
                    }
                }
            }
        }

        #show-post {
            display:flex;
            flex-direction: column;
            align-content: center;
            width:90%;
            margin:0 auto;
            padding:10px;
        }
}
.corp-post {
    display:flex;
    flex:1.5;
    padding:2%;
    max-width: 90%;
    margin:auto;
}
.corp-sidebar {
    display:flex;
    align-content: center;
    padding-top: 50px;
    align-content: flex-end;
    flex:1;
    li {
        list-style-type: none;
        text-align: left;
        margin:auto;
        padding:5%;
        }
    .eaw-title {
        font-size: 16px;
    }
}
.eyecandy-post{
    display:flex;
    flex:1.5;
    padding:2%;
    max-width: 90%;
    margin:auto;
}
.collab-post {
    display:flex;
    flex:1.5;
    max-width: 90%;
    margin:auto;
    h1{
        font-size: 3em;
    }
}