// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$secondary: #c2c1c1;

body {
    color: #525151
}
#top-bar {
    height:50px;
    background:$secondary;
}